.product {
  &__title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 20px;
      text-align: center;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card__previous {
    text-decoration: line-through;
  }

  &__card {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 221, 221);
    cursor: pointer;

    @include tablet {
      width: 170px;
    }

    @include mobile {
      width: 125px;

      &:nth-child(2n+1) {
        margin-right: 15px;
      }
    }
  }

  &__card:hover {
    transform: scale(1.2);
    transition: all 0.5s
  }

  &__card.hide {
    display: none;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-main {
    margin-left: 5px;

    @include tablet {
      font-size: 12px;
    }
  }

  &__info-plus {
    :hover {
      opacity: 0.8;
    }
  }

  &__card-img {
    width: auto;
    height: 300px;

    @include tablet {
      height: 248px;
    }

    @include mobile {
      height: 188px;
    }
  }
}

.cart-product {
  list-style: none;
}
